.form-login{
    padding-top: 150px;
    padding-bottom: 150px;
}
#main{
    background-color: #F0F2F5;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid #ccc;
    padding: 10px;
}

